* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

.container {
  display: flex;
  width: 160px;
  height: 240px;
  flex-wrap: wrap;
}

.btn {
  flex: 0 0 40px;
  height: 40px;
  width: 40px;
}

.brand {
  flex: 0 0 80;
  height: 40px;
  width: 80px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 0 0 160px;
  height: 40px;
  width: 120px;
}