* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body {
  margin: 5px 5px;
}

.container {
  font-size: 20px;
  background-color: rgb(53, 50, 50);
  color: white;
  display: flex;
  width: 168px;
  height: 248px;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 4px 4px;
}

.btn {
  font-size: 15px;
  color: white;
  flex: 0 0 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  box-shadow: none;
  border-style: solid;
  margin: 2px 2px;
  border: none;
}

.brand {
  display: flex;
  flex: 0 0 80;
  height: 40px;
  width: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.display {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 0 0 160px;
  height: 40px;
  width: 120px;
  padding-right: 5px;
}

.division, .multiplication, .addition, .substraction, .equals {
  background-color: rgb(224, 148, 55);
}

.num, .dot, .calc {
  background-color: rgb(107, 103, 105);
}